<div class="content">
  <div class="footer">
    <div class="footer-content">
      <div class="footer-content-left">
        <div class="footer-content-left-item">
          <a routerLink="/privacy-policy">
            Privacy Policy
          </a>
        </div>
        <div class="footer-content-left-item">
          <a routerLink="/imprint">
            Imprint
          </a>
        </div>
        <div class="footer-content-left-item">
          <a href="https://www.twitter.com/">
            <mat-icon>share</mat-icon>
          </a>
        </div>
      </div>
      <div class="footer-content-right">
        <div class="footer-content-right-item">
          <a href="https://www.netflix.com/">
            <mat-icon>share</mat-icon>
          </a>
        </div>
        <div class="footer-content-right-item">
          <a href="https://www.primevideo.com/">
            <mat-icon>share</mat-icon>
          </a>
        </div>
        <div class="footer-content-right-item">
          <a href="https://www.hulu.com/">
            <mat-icon>share</mat-icon>
          </a>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <p>© 2021 VideoFlix</p>
    </div>
  </div>
</div>
