.content{
  width: 100vw;
  height: 100vh;
  z-index: 10;
  background-color: rgba(30, 26, 29, 0.5);
  mat-card{
    margin: 20px;
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
}
