mat-toolbar {
  position: fixed;
  background: linear-gradient(to bottom, rgba(129, 0, 129, 1) 0%, rgba(129, 0, 129, 0.5) 100%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  .nav{
    width: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    a{
      color: white;
      text-decoration: none;
    }
    }
}
