<div class="content">
  <div class="buttonsAction">
    <h1>VideoFlix</h1>
  <p>
    Erlebe die größte Auswahl an Filmen, jederzeit und überall. Mit VideoFlix
    kannst du deine Lieblingsfilme direkt auf deinem Smartphone,
    Tablet oder Fernseher streamen. Egal ob du auf spannende Action,
    romantische Liebesgeschichten, packende Thriller oder
    herzerwärmende Familienfilme stehst – wir haben für jeden Geschmack etwas dabei.
  </p>
  </div>
  <app-video></app-video>

</div>

<app-footer></app-footer>
