.content{
  background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(0,0,0,1) 80%), url("../../assats/videoBg.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  display: flex;
  .buttonsAction{
    position: absolute;
    top: 50%;
    left: 10%;
  }
  app-video{
    position: absolute;
    top: 70%;
  }

}
